[Desktop Entry]
Type=Theme
Name=Flat Cirles
Comment=A theme with flat cirles for user icons. Created by Riftr <9170186+Riftr@users.noreply.github.com>
Encoding=UTF-8
